#galery2
	background-color $orange
	padding 100px 0

	h1
		color $white

	.titulo-galery
		text-align center
		margin-bottom 50px

		a
			color $white
			font-weight 700
			font-size 28px
			text-decoration none
			transition all 0.3s
			text-transform uppercase

			&:hover
			&:focus
				color $light-blue

			&.active
				color $light-blue
				cursor default
					
	.galeryCarousel

		.arrowleft
		.arrowright
			text-align center
			float left
			width 50px
			
			a
				color $medium-blue
				transition all 0.3s
				
				&:hover
				&:focus
					color $light-blue
		
		.imgCarousel
			float left
			overflow hidden
			
			.containerCarousel
				position relative
				display inline-block
				list-style-type none
				margin 0
				padding 0
				width 9999px
				height 100%
				
				li
					float left
					height 100%
					padding 0 15px
					
					.box-img
						height 100%
						width 100%
						overflow hidden
						border 1px solid $orange

						img
							height 100%
							width 100%
							transition all 0.3s
							cursor pointer

							&:hover
								transform scale(1.25)
						
