#news
	padding 100px 0
	background-color $white

	h1
		color $blue
		
	article
		
		.pager
			display inline-block
			margin 0
			
			li
			
				a
					border none
					padding 0 5px
					background-color transparent
					color $orange
					transition all 0.3s
					
					&:hover
						background-color transparent
						color $light-orange
						
					&.inactive
						color rgba($orange, 0.6) !important
						cursor default !important
		
		.title-news
			display inline-block

			h3
				text-transform uppercase
				font-weight 700
				color $blue
				margin-bottom 0

			span
				display block
				font-size 13px
				font-style italic
				font-weight bold
				color $orange
				margin-bottom 20px

				i
					margin-right 5px
					width 12px

		p
			color $black
			font-size 15px
			text-align justify

	.box-img
		border 1px solid $orange
